<div class="navigation">
  <div class="alignleft">{{ with .PrevInSection }}&laquo; <a href="{{ .RelPermalink }}" rel="prev">{{ .Title }}</a>{{ end }}</div>
  <div class="alignright">{{ with .NextInSection }}<a href="{{ .RelPermalink }}" rel="next">{{ .Title }}</a> &raquo;{{ end }}</div>
</div>

<div id="post-{{ with .File }}{{ .ContentBaseName }}{{ end }}" class="post">
  <h2>{{ .Title }}</h2>
  <div class="entry">
    {{ .Content }}
    <div class="clear"></div>
  </div>
  {{- if in (slice "post" "posts") .Type }}
  <p class="postmetadata alt">
    <small>
      This entry was posted on {{ .Date | time.Format "2 January 2006" }} at {{ .Date.Format "15:04" }}
      {{- with .Params.categories }} and is filed under {{ range $i, $c := . }}{{ if $i }}, {{ end }}<a href="{{ "/categories/" | relURL }}{{ $c | urlize }}/" rel="category tag">{{ $c }}</a>{{ end }}.{{ end }}
      You can follow any responses to this entry through the <a href='{{ "/index.xml" | relURL }}'>RSS 2.0</a> feed.
    </small>
  </p>
  <p class="nocomments">Comments are closed.</p>
  {{- end }}
</div>