<header id="masthead" class="site-header" role="banner">
  <div class="site-branding">
    <h1 class="site-title"><a href="{{ "/" | relURL }}" rel="home">{{ .Site.Title }}</a></h1>
    {{- with .Site.Params.description }}<p class="site-description">{{ . }}</p>{{ end }}
  </div>
  {{- with site.Menus.main }}
  <nav id="site-navigation" class="main-navigation" role="navigation" aria-label="Menu principal">
    <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">Menu</button>
    <div class="menu-main-menu-container">
      <ul id="primary-menu" class="menu">
        {{- range . }}
        <li class="menu-item{{ if eq $.RelPermalink (.URL | relURL) }} current-menu-item{{ end }}"><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{- end }}
      </ul>
    </div>
  </nav>
  {{- end }}
</header>